body {
  background-color: #fef9e9;
  color: #000000;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  /* font-family: 'Zen Kaku Gothic Antique', sans-serif; */
}

.Works__SliderItem-sc-dg2y49-5 {
  outline: none;
}
